[workspace]
resolver = "2"
members = ["build", "contracts", "ffi", "relay", "relay/tests/methods"]

[workspace.package]
version = "0.8.0-alpha.1"
edition = "2021"
license = "Apache-2.0"
homepage = "https://risczero.com/"
repository = "https://github.com/risc0/risc0-ethereum/"

[workspace.dependencies]
# Intra-workspace dependencies
risc0-ethereum-contracts = { version = "0.8.0-alpha.1", default-features = false, path = "contracts" }
risc0-ethereum-build = { version = "0.8.0-alpha.1", default-features = false, path = "build" }
risc0-ethereum-ffi = { version = "0.8.0-alpha.1", default-features = false, path = "ffi" }
risc0-ethereum-relay = { version = "0.8.0-alpha.1", default-features = false, path = "relay" }

alloy-primitives = { version = "0.6", default-features = false, features = ["rlp", "serde", "std"] }
alloy-sol-types = { version = "0.6" }
anyhow = { version = "1.0.75" }
bincode = { version = "1.3" }
bonsai-rest-api-mock = { git = "https://github.com/risc0/risc0", rev = "7e4d9877da909ed6d4ac4e45b2c90c76373a5aed", default-features = false }
bonsai-sdk = { git = "https://github.com/risc0/risc0", rev = "7e4d9877da909ed6d4ac4e45b2c90c76373a5aed", default-features = false }
risc0-build = { git = "https://github.com/risc0/risc0", rev = "7e4d9877da909ed6d4ac4e45b2c90c76373a5aed", default-features = false }
risc0-zkp = { git = "https://github.com/risc0/risc0", rev = "7e4d9877da909ed6d4ac4e45b2c90c76373a5aed", default-features = false }
risc0-zkvm = { git = "https://github.com/risc0/risc0", rev = "7e4d9877da909ed6d4ac4e45b2c90c76373a5aed", default-features = false }
