[workspace]
resolver = "2"
members = ["build", "contracts", "ffi", "relay", "relay/tests/methods", "steel"]

[workspace.package]
version = "0.11.0-alpha.1"
edition = "2021"
license = "Apache-2.0"
homepage = "https://risczero.com/"
repository = "https://github.com/risc0/risc0-ethereum/"

[workspace.dependencies]
# Intra-workspace dependencies
risc0-build-ethereum = { version = "0.11.0-alpha.1", default-features = false, path = "build" }
risc0-ethereum-contracts = { version = "0.11.0-alpha.1", default-features = false, path = "contracts" }
risc0-ethereum-relay = { version = "0.11.0-alpha.1", default-features = false, path = "relay" }
risc0-steel = { version = "0.11.0-alpha.1", default-features = false, path = "steel" }
risc0-forge-ffi = { version = "0.11.0-alpha.1", default-features = false, path = "ffi" }

# risc0 monorepo dependencies.
risc0-build = { git = "https://github.com/risc0/risc0", branch = "main", default-features = false }
risc0-zkp = { git = "https://github.com/risc0/risc0", branch = "main", default-features = false }
risc0-zkvm = { git = "https://github.com/risc0/risc0", branch = "main", default-features = false }
bonsai-sdk = { git = "https://github.com/risc0/risc0", branch = "main", default-features = false }

alloy-primitives = { version = "0.7", features = ["serde", "rlp", "std"] }
alloy-rlp = { version = "0.3.4", default-features = false }
alloy-rlp-derive = { version = "0.3.4", default-features = false }
alloy-sol-types = { version = "0.7" }
alloy-trie = { version = "0.3.0" }
anyhow = { version = "1.0" }
bincode = { version = "1.3" }
clap = { version = "4.4", features = ["derive", "env"] }
ethers-core = "2.0"
ethers-providers = "2.0"
log = "0.4"
nybbles = { version = "0.2.1", features = ["serde"] }
once_cell = "1.19"
revm = { version = "7.2", default-features = false, features = ["std"] }
rlp = "0.5.2"
serde = "1.0"
serde_json = "1.0"
test-log = "0.2.15"
thiserror = "1.0"
tokio = { version = "1.35" }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
