[package]
name = "risc0-ethereum-contracts"
description = "Ethereum contracts for RISC Zero applications"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[build-dependencies]
anyhow = "1.0"

[dependencies]
alloy-primitives = { workspace = true }
alloy-sol-types = { workspace = true }
anyhow = { workspace = true }
bonsai-sdk = { workspace = true }
ethers = { version = "2.0", features = ["rustls", "ws"] }
hex = { version = "0.4", optional = true }
risc0-zkvm = { workspace = true }

[dev-dependencies]
tokio = { version = "1", features = ["macros", "rt"] }

[lib]
doctest = false

[features]
default = []
control-id = ["dep:hex", "risc0-zkvm/prove"]
